<IfModule mod_rewrite.c>

ErrorDocument 404 /404

RewriteEngine On
RewriteBase /GaronneExpose/


RewriteRule ^contact index.php?v=contact [L]
RewriteRule ^404 index.php?v=404 [L]
RewriteRule ^presentation  index.php?v=presentation [L]
RewriteRule ^bureau  index.php?v=bureau [L]
RewriteRule ^documents  index.php?v=documents [L]
RewriteRule ^projet  index.php?v=projet [L]
RewriteRule ^artistes  index.php?v=artistes [L]
RewriteRule ^profil/([^/]+)(/(\d{4})(/(\d{2})(/(\d{2}))?)?)?(/(\d+)§)? index.php?v=artiste&a=profil&n=$1&y=$3&m=$5&j=$7&p=$9 [L]
RewriteRule ^artiste/inscription index.php?v=artiste&a=inscription [L]
RewriteRule ^artiste/validation/([0-9]+)/(.+) index.php?v=artiste&a=validation&m=$1&c=$2 [L]
RewriteRule ^artiste/password index.php?v=artiste&a=password [L]
RewriteRule ^artiste/deconnexion index.php?v=artiste&a=deconnexion [L]
RewriteRule ^artiste/modification index.php?v=artiste&a=modification [L]

RewriteRule ^staff$ index.php?v=staff [L]
RewriteRule ^staff/(.+) index.php?v=staff&groupe=$1 [L]
RewriteRule ^recherche(/(\d{4})(/(\d{2})(/(\d{2}))?)?)?/([^/]*)(/(\d+)§)? index.php?v=article&a=search&s=$7&p=$9&y=$2&m=$4&j=$6 [L]


RewriteRule ^([0-9]+)/([0-9]+)/([0-9]+)/(\D.*) index.php?v=article&a=detail&y=$1&m=$2&j=$3&p=$4 [L]
RewriteRule ^(\d{4})(/(\d{2})(/(\d{2}))?)?(/(\d+)§)? index.php?v=article&a=liste&y=$1&m=$3&j=$5&c=all&p=$7 [L]



RewriteRule ^article/proposer index.php?v=article&a=proposer [L]
RewriteRule ^article/liste(/([a-zA-Z]{1,5}))?(/(\d{4})(/(\d{2})(/(\d{2}))?)?)?/(\d+)§ index.php?v=article&a=liste&c=$2&y=$4&m=$6&j=$8&p=$9 [L]
RewriteRule ^article/liste(/([a-zA-Z]{1,5}))?(/(\d{4})(/(\d{2})(/(\d{2}))?)?)? index.php?v=article&a=liste&c=$2&y=$4&m=$6&j=$8&p=1 [L]
RewriteRule ^article(/)? index.php?v=article&a=liste&c=all&y=all&m=all&j=all&p=1 [L]




</IfModule>
